// Bootstrap library.

//@import 'bootstrap.sass';

// Base-theme overrides.

//@import 'overrides.sass';

// Theme specific.

//@import 'header.sass';
//@import 'content..sass';
//@import 'footer.sass';
//@import 'variables.sass';

//Variables
$body-bg: #000;
$primary-colour: red;
$tabs-bg: #fff;
$tabs-active-bg: #e7e7e7;

/*
* Shared Styles
*/

//Body
body{
  background-color: black;
  .page-header{border-bottom: none;}
  color: #D8D8D8;
  .main-container.container {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to top, white, rgba(0, 0, 0, 0)) 1 100%;
  }
}


//Headings
h1{
  font-weight: 600;
  color: #666;
}
h2{font-size: 1.8em;}

//Elements
.label{
  float: left;
  padding-left: 0;
  color: white;
  font-size: 1em;
}

.views-field-title{
  clear: both;
  font-size: 1.5em;
  font-weight: 600;
}

//Links
a{
  color: red;
  &:hover{
  color:  darken($primary-colour, 13.5%);
  }
}

//Header

header#navbar{
  padding-top: 50px;
  margin-bottom: 40px;
  background-color: black;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid $tabs-active-bg;
  .navbar-nav{
    width: 100%;
    li{
      background-color: white;
      width: 20%;
      text-align: center;
      border-top: solid 1px black;
      border-left: solid 1px black;
      border-right: solid 1px black;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      &.active,
      &:hover{background-color: $tabs-active-bg;}
      a{
        font-weight: bold;
        color: red;
        font-size: 1.2em;
        background-color: transparent;
        &:hover{
          color:  darken($primary-colour, 13.5%);
        }
      }
    }
  }
}



/*
* Front Page
*/

.front{
  h1{font-size: 1.5em;}
  h2{margin: 0 0 20px 0;}
  //carousel
  .carousel{
    .views-field.views-field-field-movie-title-plot,
    .views-field-title{
      background: black;
      background:rgba(0,0,0,0.5);
      position: absolute;
      width: 500px;
      margin-left: 30px;
    }
    .views-field.views-field-field-movie-title-plot{
      margin-top: -200px;
      padding: 10px 10px 0 10px;
      font-size: 1.5em;
    }
    .views-field-title{
      margin-top: -102px;
      color: $primary-colour;
      padding: 0 10px 10px 10px;
      font-size: 2em;
      }
  }
// tabs box
  .quicktabs-wrapper{
    //width: 80%;
    margin-top: 50px;
    ul.quicktabs-tabs {
      li {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding: 10px 40px;
        background-color: white;
        &:hover{
         background-color: $tabs-active-bg;
        }
        a{
          color: red;
          font-size: 1.2em;
        }
      }
      li.active{
        font-weight: bold;
        background-color: $tabs-active-bg;
      }
    }
    #quicktabs-container-new_releases_homepage{
      padding: 30px 30px 100px 30px;
      margin-top: -3px;
      border-top: 1px solid $tabs-active-bg;
      .views-row{
        margin-bottom: 30px;
        img{
          float: left;
          margin: 0 20px 30px 0;
        }
        .views-field-field-movie-title-release-date{
          margin-top: 10px;
        }
      }
    }
  }
}


// Cinema listings

.page-listings{
  .views-row {
    padding-top: 30px;
    padding-bottom: 180px;
    border-bottom: solid 1px $tabs-active-bg;
      img{
        float: left;
        margin: 0 20px 30px 0;
      }
    }
  // Ratings
  .u,
  .pg,
  .twelve,
  .fifteen,
  .eighteen{
    background-repeat: no-repeat;
    padding: 30px;
    display: block;
    float:  left;
    span{display: none;}
  }
  .u{background-image: url("../images/you.png");}
  .pg{background-image: url("../images/PG.png");}
  .twelve{background-image: url("../images/12A.png");}
  .fifteen{background-image: url("../images/15.png");}
  .eighteen{background-image: url("../images/18.png");}
  // Fields
  .views-field-title{clear: none;}
  .views-field-field-movie-title-actors{
    float: left;
    margin-left: 61px;
    display: block;
    margin-top: 10px;
    width: 300px;
  }
  .views-field-field-movie-title-plot {
    float: left;
    width: 815px;
  }
  .views-field-field-movie-title-release-date{display: none;}
  .views-field.views-field-field-movie-title-image {
    clear: both;
  }
}


/*
* Cinema details page
*/

.node-type-cinema-details{
    .field.field-name-field-cinema-details-map.field-type-text.field-label-hidden {
      float: left;
      margin-right: 30px;
    }
    .field-group-format-wrapper{
      font-size: 1.5em;
    }
    .field-name-field-cinema-details-telephone{
      margin-top: 10px;
      font-size: 1.5em;
    }
}


/*
* New releases page
*/
.page-new-releases{
  .views-row {
    padding-top: 30px;
    padding-bottom: 180px;
    border-bottom: solid 1px $tabs-active-bg;
    img {
      float: left;
      margin: 0 20px 30px 0;
    }
  }
  .views-field-title{clear: none;}
  .views-field.views-field-field-movie-title-image {
    clear: both;
  }
  .views-field-field-movie-title-plot {
    float: left;
    width: 895px;
  }
  .views-field-field-movie-title-release-date,
  .views-field-field-movie-title-actors{
    float: left;
    display: block;
    margin-top: 5px;
    width: 895px;
  }
}



/*
* News articles page
*/

.page-film-news{
  .views-row {
    padding-top: 30px;
    padding-bottom: 80px;
    border-bottom: solid 1px $tabs-active-bg;
    img{
      float: left;
      margin: 0 20px 30px 0;
    }
  }
}

/*
* Footer
*/

.footer{
  margin-top: 0;
  ul{
    width: 50%;
    margin: 0 auto;
    li{
      width: 33.333%;
      text-align: center;
      display: inline-block;
      float: left;
      list-style: none;
      text-decoration: underline;
      &:first-child:before {
        content: " ";
        float: left;
      }
      &:before {
        content: "|";
        float: left;
        font-size: 2em;
        font-weight: 100;
      }
    }
  }
}






