/*
* Shared Styles
*/
/* line 27, ../sass/style.scss */
body {
  color: #D8D8D8;
  background-color: black; }
  /* line 31, ../sass/style.scss */
  body .page-header {
    border-bottom: none; }
  /* line 32, ../sass/style.scss */
  body .main-container.container {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to top, white, transparent) 1 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606060+0,606060+25,606060+50,000000+100&amp;0+0,0.41+25,0.74+51,1+100 */
    background: -moz-linear-gradient(top, rgba(96, 96, 96, 0) 0%, rgba(96, 96, 96, 0.41) 25%, rgba(96, 96, 96, 0.73) 50%, rgba(94, 94, 94, 0.74) 51%, black 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(96, 96, 96, 0)), color-stop(25%, rgba(96, 96, 96, 0.41)), color-stop(50%, rgba(96, 96, 96, 0.73)), color-stop(51%, rgba(94, 94, 94, 0.74)), color-stop(100%, black));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(96, 96, 96, 0) 0%, rgba(96, 96, 96, 0.41) 25%, rgba(96, 96, 96, 0.73) 50%, rgba(94, 94, 94, 0.74) 51%, black 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(96, 96, 96, 0) 0%, rgba(96, 96, 96, 0.41) 25%, rgba(96, 96, 96, 0.73) 50%, rgba(94, 94, 94, 0.74) 51%, black 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(96, 96, 96, 0) 0%, rgba(96, 96, 96, 0.41) 25%, rgba(96, 96, 96, 0.73) 50%, rgba(94, 94, 94, 0.74) 51%, black 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(96, 96, 96, 0) 0%, rgba(96, 96, 96, 0.41) 25%, rgba(96, 96, 96, 0.73) 50%, rgba(94, 94, 94, 0.74) 51%, black 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00606060', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */ }

/* line 49, ../sass/style.scss */
h1 {
  font-weight: 600;
  color: #666; }

/* line 53, ../sass/style.scss */
h2 {
  font-size: 1.8em; }

/* line 56, ../sass/style.scss */
.label {
  float: left;
  padding-left: 0;
  color: white;
  font-size: 1em; }

/* line 63, ../sass/style.scss */
.views-field-title {
  clear: both;
  font-size: 1.5em;
  font-weight: 600; }

/* line 70, ../sass/style.scss */
a {
  color: red; }
  /* line 72, ../sass/style.scss */
  a:hover {
    color: #ba0000; }

/* line 79, ../sass/style.scss */
header#navbar {
  padding-top: 50px;
  margin-bottom: 40px;
  background-color: black;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #e7e7e7; }
  /* line 87, ../sass/style.scss */
  header#navbar .navbar-nav {
    width: 100%; }
    /* line 89, ../sass/style.scss */
    header#navbar .navbar-nav li {
      background-color: white;
      width: 20%;
      height: 65px;
      text-align: center;
      border-top: solid 1px black;
      border-left: solid 1px black;
      border-right: solid 1px black;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px; }
      @media screen and (min-width: 1150px) {
        /* line 89, ../sass/style.scss */
        header#navbar .navbar-nav li {
          height: 50px; } }
      /* line 103, ../sass/style.scss */
      header#navbar .navbar-nav li.active, header#navbar .navbar-nav li:hover {
        background-color: #e7e7e7; }
      /* line 105, ../sass/style.scss */
      header#navbar .navbar-nav li a {
        color: red;
        font-weight: bold;
        font-size: 1.2em;
        background-color: transparent; }
        /* line 110, ../sass/style.scss */
        header#navbar .navbar-nav li a:hover {
          color: #ba0000; }

/*
* Front Page
*/
/* line 124, ../sass/style.scss */
.front h1 {
  font-size: 1.5em; }
/* line 125, ../sass/style.scss */
.front h2 {
  margin: 0 0 20px 0; }
/* line 128, ../sass/style.scss */
.front .carousel .views-field.views-field-field-movie-title-plot,
.front .carousel .views-field-title {
  background: black;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 500px;
  margin-left: 30px; }
/* line 136, ../sass/style.scss */
.front .carousel .views-field.views-field-field-movie-title-plot {
  margin-top: -200px;
  padding: 10px 10px 0 10px;
  font-size: 1.5em; }
/* line 141, ../sass/style.scss */
.front .carousel .views-field-title {
  margin-top: -102px;
  color: red;
  padding: 0 10px 10px 10px;
  font-size: 2em; }
/* line 149, ../sass/style.scss */
.front .quicktabs-wrapper {
  margin-top: 50px; }
  /* line 153, ../sass/style.scss */
  .front .quicktabs-wrapper ul.quicktabs-tabs li {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px 40px;
    background-color: white; }
    /* line 158, ../sass/style.scss */
    .front .quicktabs-wrapper ul.quicktabs-tabs li:hover {
      background-color: #e7e7e7; }
    /* line 161, ../sass/style.scss */
    .front .quicktabs-wrapper ul.quicktabs-tabs li a {
      color: red;
      font-size: 1.2em; }
  /* line 166, ../sass/style.scss */
  .front .quicktabs-wrapper ul.quicktabs-tabs li.active {
    font-weight: bold;
    background-color: #e7e7e7; }
  /* line 171, ../sass/style.scss */
  .front .quicktabs-wrapper #quicktabs-container-new_releases_homepage {
    padding: 30px 30px 100px 30px;
    margin-top: -3px;
    border-top: 1px solid #e7e7e7; }
    /* line 175, ../sass/style.scss */
    .front .quicktabs-wrapper #quicktabs-container-new_releases_homepage .views-row {
      margin-bottom: 30px; }
      /* line 177, ../sass/style.scss */
      .front .quicktabs-wrapper #quicktabs-container-new_releases_homepage .views-row img {
        float: left;
        margin: 0 20px 30px 0; }
      /* line 181, ../sass/style.scss */
      .front .quicktabs-wrapper #quicktabs-container-new_releases_homepage .views-row .field-content {
        font-size: 1.2em; }
      /* line 182, ../sass/style.scss */
      .front .quicktabs-wrapper #quicktabs-container-new_releases_homepage .views-row .views-field-field-movie-title-release-date {
        margin-top: 10px; }

/* line 194, ../sass/style.scss */
.page-listings .views-row {
  padding-top: 30px;
  padding-bottom: 365px;
  border-bottom: solid 1px #e7e7e7; }
  @media screen and (min-width: 1150px) {
    /* line 194, ../sass/style.scss */
    .page-listings .views-row {
      padding-top: 30px;
      padding-bottom: 180px; } }
  /* line 203, ../sass/style.scss */
  .page-listings .views-row img {
    float: left;
    margin: 0 20px 30px 0; }
  /* line 207, ../sass/style.scss */
  .page-listings .views-row .field-content {
    font-size: 1.2em; }
/* line 210, ../sass/style.scss */
.page-listings .u,
.page-listings .pg,
.page-listings .twelve,
.page-listings .fifteen,
.page-listings .eighteen {
  background-repeat: no-repeat;
  padding: 30px;
  display: block;
  float: left; }
  /* line 219, ../sass/style.scss */
  .page-listings .u span,
  .page-listings .pg span,
  .page-listings .twelve span,
  .page-listings .fifteen span,
  .page-listings .eighteen span {
    display: none; }
/* line 221, ../sass/style.scss */
.page-listings .u {
  background-image: url("../images/you.png"); }
/* line 222, ../sass/style.scss */
.page-listings .pg {
  background-image: url("../images/PG.png"); }
/* line 223, ../sass/style.scss */
.page-listings .twelve {
  background-image: url("../images/12A.png"); }
/* line 224, ../sass/style.scss */
.page-listings .fifteen {
  background-image: url("../images/15.png"); }
/* line 225, ../sass/style.scss */
.page-listings .eighteen {
  background-image: url("../images/18.png"); }
/* line 227, ../sass/style.scss */
.page-listings .views-field-title {
  clear: none; }
/* line 228, ../sass/style.scss */
.page-listings .views-field-field-movie-title-actors {
  float: left;
  margin-left: 61px;
  display: block;
  margin-top: 10px;
  width: 300px; }
/* line 235, ../sass/style.scss */
.page-listings .views-field-field-movie-title-plot {
  float: left;
  width: 815px; }
/* line 239, ../sass/style.scss */
.page-listings .views-field-field-movie-title-release-date {
  display: none; }
/* line 240, ../sass/style.scss */
.page-listings .views-field.views-field-field-movie-title-image {
  clear: both; }

/*
* Cinema details page
*/
/* line 252, ../sass/style.scss */
.node-type-cinema-details .field.field-name-field-cinema-details-map.field-type-text.field-label-hidden,
.page-cinemas .field.field-name-field-cinema-details-map.field-type-text.field-label-hidden {
  float: left;
  margin-right: 30px; }
/* line 256, ../sass/style.scss */
.node-type-cinema-details .field-group-format-wrapper,
.page-cinemas .field-group-format-wrapper {
  font-size: 1.5em; }
/* line 259, ../sass/style.scss */
.node-type-cinema-details .field-name-field-cinema-details-telephone,
.page-cinemas .field-name-field-cinema-details-telephone {
  margin-top: 10px;
  font-size: 1.5em; }
/* line 264, ../sass/style.scss */
.node-type-cinema-details .field-name-field-cinema-details-showing .field-label,
.page-cinemas .field-name-field-cinema-details-showing .field-label {
  margin: 20px 0 10px 10px;
  font-size: 2em;
  color: red; }
/* line 269, ../sass/style.scss */
.node-type-cinema-details .field-name-field-cinema-details-showing .field-name-field-cinema-details-movie,
.page-cinemas .field-name-field-cinema-details-showing .field-name-field-cinema-details-movie {
  float: left;
  font-weight: 700;
  width: 320px;
  border: solid 1px red;
  padding: 3px;
  text-align: center; }
/* line 277, ../sass/style.scss */
.node-type-cinema-details .field-name-field-cinema-details-showing .date-display-single,
.page-cinemas .field-name-field-cinema-details-showing .date-display-single {
  float: left;
  width: 130px;
  border: solid 1px red;
  padding: 3px;
  text-align: center; }
/* line 284, ../sass/style.scss */
.node-type-cinema-details .field-name-field-cinema-details-showing .field-collection-view,
.page-cinemas .field-name-field-cinema-details-showing .field-collection-view {
  border-bottom: none;
  padding: 0; }
/* line 289, ../sass/style.scss */
.node-type-cinema-details .field-collection-container,
.page-cinemas .field-collection-container {
  border-bottom: none; }

/*
* Movie titles pages
*/
/* line 298, ../sass/style.scss */
.node-type-movie-titles .field.field-name-field-movie-title-plot,
.node-type-movie-titles .field.field-name-field-movie-title-actors,
.node-type-movie-titles .field.field-name-field-movie-title-release-date,
.node-type-movie-titles .field.field-name-field-movie-review-rating {
  padding: 5px 20px; }
  @media screen and (min-width: 1150px) {
    /* line 298, ../sass/style.scss */
    .node-type-movie-titles .field.field-name-field-movie-title-plot,
    .node-type-movie-titles .field.field-name-field-movie-title-actors,
    .node-type-movie-titles .field.field-name-field-movie-title-release-date,
    .node-type-movie-titles .field.field-name-field-movie-review-rating {
      width: 40%;
      position: absolute;
      background: black;
      background: rgba(0, 0, 0, 0.5);
      font-size: 1.3em; } }
@media screen and (min-width: 1150px) {
  /* line 311, ../sass/style.scss */
  .node-type-movie-titles .field.field-name-field-movie-title-plot {
    margin-top: -350px; } }
@media screen and (min-width: 1150px) {
  /* line 312, ../sass/style.scss */
  .node-type-movie-titles .field.field-name-field-movie-title-actors {
    margin-top: -233px; } }
@media screen and (min-width: 1150px) {
  /* line 313, ../sass/style.scss */
  .node-type-movie-titles .field.field-name-field-movie-title-release-date {
    margin-top: -170px; } }
@media screen and (min-width: 1150px) {
  /* line 314, ../sass/style.scss */
  .node-type-movie-titles .field.field-name-field-movie-review-rating {
    margin-top: -133px; } }
/* line 315, ../sass/style.scss */
.node-type-movie-titles section#block-views-linked-cinemas-block {
  padding: 0 20px 30px 20px;
  background-color: #333;
  width: 450px;
  margin: 50px 0; }
/* line 321, ../sass/style.scss */
.node-type-movie-titles img {
  width: 100%;
  max-width: 800px; }

/*
* New releases page
*/
/* line 333, ../sass/style.scss */
.page-new-releases .views-row {
  padding-top: 30px;
  padding-bottom: 365px;
  border-bottom: solid 1px #e7e7e7; }
  @media screen and (min-width: 1150px) {
    /* line 333, ../sass/style.scss */
    .page-new-releases .views-row {
      padding-top: 30px;
      padding-bottom: 180px; } }
  /* line 342, ../sass/style.scss */
  .page-new-releases .views-row img {
    float: left;
    margin: 0 20px 30px 0; }
/* line 348, ../sass/style.scss */
.page-new-releases .views-field-title {
  clear: none; }
/* line 349, ../sass/style.scss */
.page-new-releases .views-field.views-field-field-movie-title-image {
  clear: both; }
/* line 352, ../sass/style.scss */
.page-new-releases .views-field-field-movie-title-plot {
  float: left;
  width: 895px; }
/* line 356, ../sass/style.scss */
.page-new-releases .views-field-field-movie-title-release-date,
.page-new-releases .views-field-field-movie-title-actors {
  float: left;
  display: block;
  margin-top: 5px;
  width: 895px; }

/*
* News articles page
*/
/* line 372, ../sass/style.scss */
.page-film-news .views-row {
  padding-top: 30px;
  padding-bottom: 50px;
  border-bottom: solid 1px #e7e7e7; }
  /* line 376, ../sass/style.scss */
  .page-film-news .views-row img {
    float: left;
    margin: 0 20px 30px 0; }
  /* line 380, ../sass/style.scss */
  .page-film-news .views-row .field-items {
    font-size: 1.2em; }

/*
* Footer
*/
/* line 388, ../sass/style.scss */
.footer {
  margin-top: 0; }
  /* line 390, ../sass/style.scss */
  .footer ul {
    margin: 0 auto; }
    @media screen and (min-width: 1150px) {
      /* line 390, ../sass/style.scss */
      .footer ul {
        width: 600px; } }
    /* line 396, ../sass/style.scss */
    .footer ul li {
      width: 33%;
      text-align: center;
      display: inline-block;
      float: left;
      list-style: none; }
      /* line 402, ../sass/style.scss */
      .footer ul li:first-child:before {
        content: " ";
        float: left; }
      /* line 406, ../sass/style.scss */
      .footer ul li:before {
        content: "|";
        float: left;
        font-size: 2em;
        font-weight: 100; }
