/*
* Shared Styles
*/
/* line 27, ../sass/style.scss */
body {
  background-color: black;
  color: #D8D8D8; }
  /* line 29, ../sass/style.scss */
  body .page-header {
    border-bottom: none; }
  /* line 31, ../sass/style.scss */
  body .main-container.container {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to top, white, transparent) 1 50%; }

/* line 40, ../sass/style.scss */
h1 {
  font-weight: 600;
  color: #666; }

/* line 44, ../sass/style.scss */
h2 {
  font-size: 1.8em; }

/* line 47, ../sass/style.scss */
.label {
  float: left;
  padding-left: 0;
  color: white;
  font-size: 1em; }

/* line 54, ../sass/style.scss */
.views-field-title {
  clear: both;
  font-size: 1.5em;
  font-weight: 600; }

/* line 61, ../sass/style.scss */
a {
  color: red; }
  /* line 63, ../sass/style.scss */
  a:hover {
    color: #ba0000; }

/* line 70, ../sass/style.scss */
header#navbar {
  padding-top: 50px;
  margin-bottom: 40px;
  background-color: black;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #e7e7e7; }
  /* line 79, ../sass/style.scss */
  header#navbar .navbar-nav {
    width: 100%; }
    /* line 81, ../sass/style.scss */
    header#navbar .navbar-nav li {
      background-color: white;
      width: 20%;
      text-align: center;
      border-top: solid 1px black;
      border-left: solid 1px black;
      border-right: solid 1px black;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px; }
      /* line 90, ../sass/style.scss */
      header#navbar .navbar-nav li.active, header#navbar .navbar-nav li:hover {
        background-color: #e7e7e7; }
      /* line 92, ../sass/style.scss */
      header#navbar .navbar-nav li a {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
        background-color: transparent; }
        /* line 97, ../sass/style.scss */
        header#navbar .navbar-nav li a:hover {
          color: #ba0000; }

/*
* Front Page
*/
/* line 112, ../sass/style.scss */
.front h1 {
  font-size: 1.5em; }
/* line 113, ../sass/style.scss */
.front h2 {
  margin: 0 0 20px 0; }
/* line 116, ../sass/style.scss */
.front .carousel .views-field.views-field-field-movie-title-plot,
.front .carousel .views-field-title {
  background: black;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 500px;
  margin-left: 30px; }
/* line 124, ../sass/style.scss */
.front .carousel .views-field.views-field-field-movie-title-plot {
  margin-top: -200px;
  padding: 10px 10px 0 10px;
  font-size: 1.5em; }
/* line 129, ../sass/style.scss */
.front .carousel .views-field-title {
  margin-top: -102px;
  color: red;
  padding: 0 10px 10px 10px;
  font-size: 2em; }
/* line 137, ../sass/style.scss */
.front .quicktabs-wrapper {
  margin-top: 50px; }
  /* line 141, ../sass/style.scss */
  .front .quicktabs-wrapper ul.quicktabs-tabs li {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px 40px;
    background-color: white; }
    /* line 146, ../sass/style.scss */
    .front .quicktabs-wrapper ul.quicktabs-tabs li:hover {
      font-weight: bold;
      background-color: #e7e7e7; }
    /* line 150, ../sass/style.scss */
    .front .quicktabs-wrapper ul.quicktabs-tabs li a {
      color: red;
      font-size: 1.2em; }
  /* line 155, ../sass/style.scss */
  .front .quicktabs-wrapper ul.quicktabs-tabs li.active {
    font-weight: bold;
    background-color: #e7e7e7; }
  /* line 160, ../sass/style.scss */
  .front .quicktabs-wrapper #quicktabs-container-new_releases_homepage {
    padding: 30px 30px 100px 30px;
    margin-top: -3px;
    border-top: 3px solid #e7e7e7; }
    /* line 164, ../sass/style.scss */
    .front .quicktabs-wrapper #quicktabs-container-new_releases_homepage .views-row {
      margin-bottom: 30px; }
      /* line 166, ../sass/style.scss */
      .front .quicktabs-wrapper #quicktabs-container-new_releases_homepage .views-row img {
        float: left;
        margin: 0 20px 30px 0; }

/*
* Listings, New Releases and News list Pages
*/
/* line 183, ../sass/style.scss */
.page-listings .views-row,
.page-new-releases .views-row,
.page-film-news .views-row {
  margin-bottom: 30px; }
  /* line 185, ../sass/style.scss */
  .page-listings .views-row img,
  .page-new-releases .views-row img,
  .page-film-news .views-row img {
    float: left;
    margin: 0 20px 30px 0; }

/*
* Cinema details page
*/
/* line 198, ../sass/style.scss */
.node-type-cinema-details .field.field-name-field-cinema-details-map.field-type-text.field-label-hidden {
  float: left;
  margin-right: 30px; }
/* line 202, ../sass/style.scss */
.node-type-cinema-details .field-group-format-wrapper {
  font-size: 1.5em; }
/* line 205, ../sass/style.scss */
.node-type-cinema-details .field-name-field-cinema-details-telephone {
  margin-top: 10px;
  font-size: 1.5em; }

/*
* Footer
*/
/* line 216, ../sass/style.scss */
.footer {
  border: none; }
  /* line 218, ../sass/style.scss */
  .footer ul {
    width: 50%;
    margin: 0 auto; }
    /* line 221, ../sass/style.scss */
    .footer ul li {
      width: 33.333%;
      text-align: center;
      display: inline-block;
      float: left;
      list-style: none;
      text-decoration: underline; }
      /* line 228, ../sass/style.scss */
      .footer ul li:first-child:before {
        content: " ";
        float: left; }
      /* line 232, ../sass/style.scss */
      .footer ul li:before {
        content: "|";
        float: left;
        font-size: 2em;
        font-weight: 100; }
