/*
* Shared Styles
*/
/* line 27, ../sass/style.scss */
body {
  background-color: black;
  color: #D8D8D8; }
  /* line 29, ../sass/style.scss */
  body .page-header {
    border-bottom: none; }
  /* line 31, ../sass/style.scss */
  body .main-container.container {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to top, white, transparent) 1 100%; }

/* line 40, ../sass/style.scss */
h1 {
  font-weight: 600;
  color: #666; }

/* line 44, ../sass/style.scss */
h2 {
  font-size: 1.8em; }

/* line 47, ../sass/style.scss */
.label {
  float: left;
  padding-left: 0;
  color: white;
  font-size: 1em; }

/* line 54, ../sass/style.scss */
.views-field-title {
  clear: both;
  font-size: 1.5em;
  font-weight: 600; }

/* line 61, ../sass/style.scss */
a {
  color: red; }
  /* line 63, ../sass/style.scss */
  a:hover {
    color: #ba0000; }

/* line 70, ../sass/style.scss */
header#navbar {
  padding-top: 50px;
  margin-bottom: 40px;
  background-color: black;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #e7e7e7; }
  /* line 77, ../sass/style.scss */
  header#navbar .navbar-nav {
    width: 100%; }
    /* line 79, ../sass/style.scss */
    header#navbar .navbar-nav li {
      background-color: white;
      width: 20%;
      text-align: center;
      border-top: solid 1px black;
      border-left: solid 1px black;
      border-right: solid 1px black;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px; }
      /* line 88, ../sass/style.scss */
      header#navbar .navbar-nav li.active, header#navbar .navbar-nav li:hover {
        background-color: #e7e7e7; }
      /* line 90, ../sass/style.scss */
      header#navbar .navbar-nav li a {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
        background-color: transparent; }
        /* line 95, ../sass/style.scss */
        header#navbar .navbar-nav li a:hover {
          color: #ba0000; }

/*
* Front Page
*/
/* line 110, ../sass/style.scss */
.front h1 {
  font-size: 1.5em; }
/* line 111, ../sass/style.scss */
.front h2 {
  margin: 0 0 20px 0; }
/* line 114, ../sass/style.scss */
.front .carousel .views-field.views-field-field-movie-title-plot,
.front .carousel .views-field-title {
  background: black;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 500px;
  margin-left: 30px; }
/* line 122, ../sass/style.scss */
.front .carousel .views-field.views-field-field-movie-title-plot {
  margin-top: -200px;
  padding: 10px 10px 0 10px;
  font-size: 1.5em; }
/* line 127, ../sass/style.scss */
.front .carousel .views-field-title {
  margin-top: -102px;
  color: red;
  padding: 0 10px 10px 10px;
  font-size: 2em; }
/* line 135, ../sass/style.scss */
.front .quicktabs-wrapper {
  margin-top: 50px; }
  /* line 139, ../sass/style.scss */
  .front .quicktabs-wrapper ul.quicktabs-tabs li {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px 40px;
    background-color: white; }
    /* line 144, ../sass/style.scss */
    .front .quicktabs-wrapper ul.quicktabs-tabs li:hover {
      background-color: #e7e7e7; }
    /* line 147, ../sass/style.scss */
    .front .quicktabs-wrapper ul.quicktabs-tabs li a {
      color: red;
      font-size: 1.2em; }
  /* line 152, ../sass/style.scss */
  .front .quicktabs-wrapper ul.quicktabs-tabs li.active {
    font-weight: bold;
    background-color: #e7e7e7; }
  /* line 157, ../sass/style.scss */
  .front .quicktabs-wrapper #quicktabs-container-new_releases_homepage {
    padding: 30px 30px 100px 30px;
    margin-top: -3px;
    border-top: 1px solid #e7e7e7; }
    /* line 161, ../sass/style.scss */
    .front .quicktabs-wrapper #quicktabs-container-new_releases_homepage .views-row {
      margin-bottom: 30px; }
      /* line 163, ../sass/style.scss */
      .front .quicktabs-wrapper #quicktabs-container-new_releases_homepage .views-row img {
        float: left;
        margin: 0 20px 30px 0; }
      /* line 167, ../sass/style.scss */
      .front .quicktabs-wrapper #quicktabs-container-new_releases_homepage .views-row .views-field-field-movie-title-release-date {
        margin-top: 10px; }

/* line 179, ../sass/style.scss */
.page-listings .views-row {
  padding-top: 30px;
  padding-bottom: 180px;
  border-bottom: solid 1px #e7e7e7; }
  /* line 183, ../sass/style.scss */
  .page-listings .views-row img {
    float: left;
    margin: 0 20px 30px 0; }
/* line 189, ../sass/style.scss */
.page-listings .u,
.page-listings .pg,
.page-listings .twelve,
.page-listings .fifteen,
.page-listings .eighteen {
  background-repeat: no-repeat;
  padding: 30px;
  display: block;
  float: left; }
  /* line 198, ../sass/style.scss */
  .page-listings .u span,
  .page-listings .pg span,
  .page-listings .twelve span,
  .page-listings .fifteen span,
  .page-listings .eighteen span {
    display: none; }
/* line 200, ../sass/style.scss */
.page-listings .u {
  background-image: url("../images/you.png"); }
/* line 201, ../sass/style.scss */
.page-listings .pg {
  background-image: url("../images/PG.png"); }
/* line 202, ../sass/style.scss */
.page-listings .twelve {
  background-image: url("../images/12A.png"); }
/* line 203, ../sass/style.scss */
.page-listings .fifteen {
  background-image: url("../images/15.png"); }
/* line 204, ../sass/style.scss */
.page-listings .eighteen {
  background-image: url("../images/18.png"); }
/* line 206, ../sass/style.scss */
.page-listings .views-field-title {
  clear: none; }
/* line 207, ../sass/style.scss */
.page-listings .views-field-field-movie-title-actors {
  float: left;
  margin-left: 61px;
  display: block;
  margin-top: 10px;
  width: 300px; }
/* line 214, ../sass/style.scss */
.page-listings .views-field-field-movie-title-plot {
  float: left;
  width: 815px; }
/* line 218, ../sass/style.scss */
.page-listings .views-field-field-movie-title-release-date {
  display: none; }
/* line 219, ../sass/style.scss */
.page-listings .views-field.views-field-field-movie-title-image {
  clear: both; }

/*
* Cinema details page
*/
/* line 230, ../sass/style.scss */
.node-type-cinema-details .field.field-name-field-cinema-details-map.field-type-text.field-label-hidden {
  float: left;
  margin-right: 30px; }
/* line 234, ../sass/style.scss */
.node-type-cinema-details .field-group-format-wrapper {
  font-size: 1.5em; }
/* line 237, ../sass/style.scss */
.node-type-cinema-details .field-name-field-cinema-details-telephone {
  margin-top: 10px;
  font-size: 1.5em; }

/*
* New releases page
*/
/* line 248, ../sass/style.scss */
.page-new-releases .views-row {
  padding-top: 30px;
  padding-bottom: 180px;
  border-bottom: solid 1px #e7e7e7; }
  /* line 252, ../sass/style.scss */
  .page-new-releases .views-row img {
    float: left;
    margin: 0 20px 30px 0; }
/* line 257, ../sass/style.scss */
.page-new-releases .views-field-title {
  clear: none; }
/* line 258, ../sass/style.scss */
.page-new-releases .views-field.views-field-field-movie-title-image {
  clear: both; }
/* line 261, ../sass/style.scss */
.page-new-releases .views-field-field-movie-title-plot {
  float: left;
  width: 895px; }
/* line 265, ../sass/style.scss */
.page-new-releases .views-field-field-movie-title-release-date,
.page-new-releases .views-field-field-movie-title-actors {
  float: left;
  display: block;
  margin-top: 5px;
  width: 895px; }

/*
* News articles page
*/
/* line 281, ../sass/style.scss */
.page-film-news .views-row {
  padding-top: 30px;
  padding-bottom: 80px;
  border-bottom: solid 1px #e7e7e7; }
  /* line 285, ../sass/style.scss */
  .page-film-news .views-row img {
    float: left;
    margin: 0 20px 30px 0; }

/*
* Footer
*/
/* line 296, ../sass/style.scss */
.footer {
  margin-top: 0; }
  /* line 298, ../sass/style.scss */
  .footer ul {
    width: 50%;
    margin: 0 auto; }
    /* line 301, ../sass/style.scss */
    .footer ul li {
      width: 33.333%;
      text-align: center;
      display: inline-block;
      float: left;
      list-style: none;
      text-decoration: underline; }
      /* line 308, ../sass/style.scss */
      .footer ul li:first-child:before {
        content: " ";
        float: left; }
      /* line 312, ../sass/style.scss */
      .footer ul li:before {
        content: "|";
        float: left;
        font-size: 2em;
        font-weight: 100; }
